.mat-raised-button {
  border-radius: 18px !important;
  line-height: 24px;

  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    color: #1FD1F9;

    &.prefix {
      padding-right: 10px;
    }

    &.suffix {
      padding-left: 10px;
    }
  }

  &.warning {
    mat-icon {
      color: orange;
    }
  }

  &.error {
    mat-icon {
      color: #f9471f;
    }
  }

  &.big-button {
    font-size: 20px;
    line-height: 40px;

    mat-icon {
      font-size: 25px;
      height: 25px;
      width: 25px;
    }
  }
}
